@media screen and (min-width: 1280px){
/*MAIBOX INÍCIO*/
	.box{
		background: url("../../img/imagem_menu.jpg") no-repeat no-repeat center center ;
	    -webkit-background-size: cover;
	    color: rgb(255, 255, 255, 0.9);
	    height: 100vh;
	}

	.text_mainbox{
		padding-left: 10%;
		padding-top: 20%;
		flex-direction: column;
	}

	.text_mainbox h1{
		font-size: 5vw;
	}

	.text_mainbox p{
		font-size: 2vw;
	}
/*MAIBOX FIM*/


/*BOX_TITLE INÍCIO*/
	.box_title{
		background-color: #423F3B;
		width: 30vw;
		height: 5vw;
		color: #DDA45F;
		font-size: 2vw;
		align-items: center;
		justify-content: center;
		display: flex;
	}
/*BOX_TITLE FIM*/


/*ABOUT_ME INÍCIO*/

/*ABOUT_ME FIM*/	


/*BOX_TITLE_2 INÍCIO*/
	.jobs{
		background-color: #9ab8ed;
		color: rgb(255, 255, 255, 0.9);
	}
/*BOX_TITLE_2 FIM*/	

/*trabalhos INÍCIO*/
	.trabalhos{
		height: 100%;
	}

	.gamefica{
		background-color: #323949;
	}

	.flamefenix{
		background-color: #28292b;
	}
/*trabalhos FIM*/
}